@model IEnumerable<Askitonce.Models.Answer>


@{
    ViewData["Title"] = "Answers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Answers</h1>
@{
            string questid="";
            string parser = "";
            
<div class=post-container>
    @foreach(var item in Model)
    {
        <div class=single-post>
        <p class="lead">@Html.DisplayFor(modelItem => item.Body)</p>
        <h7 style="float: right;">@Html.DisplayFor(modelItem => item.AnswerAuthor)</h7>  
        </div>
    }
</div>
parser = Context.Request.Path.ToString();
questid = parser.Substring(18);
@Html.ActionLink("Create New Answer","CreateAnswer",new{id=questid},new {@class="lnkGet btn btn-outline-primary",@style="float: right;"})
}

