
@model Askitonce.Models.Question

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>More about question</h1>


<div class=single-post>
        <h2>@Html.DisplayFor(model => model.Title)</h2>
        <p class="lead">@Html.DisplayFor(model => model.Description)</p>
        <h7 style="float: right;">@Html.DisplayFor(model => model.Author)</h7>                   
</div>


<div>    
     @Html.ActionLink("Check Answers","Answers", new{id = Model.Id}, new {@class="lnkGet btn btn-outline-primary",@style="float: right;"})
</div>

