@model IEnumerable<Askitonce.Models.Question>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Asker">
<a href='Question/Create' class="btn btn-primary" role="button" style="float: right;">Ask a question</a>
</div>
<h1>Popular Questions</h1>



<div class=post-container>
    @foreach(var item in Model)
    {
        <div class=single-post>
            
        <h2>@Html.DisplayFor(modelItem => item.Title)</h2>        
        <p class="lead">@Html.DisplayFor(modelItem => item.Description)</p>        
        <h7 style="float: right;">@Html.DisplayFor(modelItem => item.Author)</h7>
        @Html.ActionLink("See More","Details", new{id = item.Id}, new {@class="lnkGet btn btn-outline-primary"})
            
        
        </div>
    }
</div>
